
@using MVCFinApp.Data.Enums
@using Microsoft.AspNetCore.Identity
@inject UserManager<FAUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Budget Application" />
    <meta name="author" content="SmartMoney" />
    <title>@ViewData["Title"] Smart Money</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />

    <!-- icons -->
    <link href="~/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />

    <!--bootstrap -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Material Design Lite CSS -->
    <link href="~/plugins/material/material.min.css" rel="stylesheet" />
    <link href="~/css/material_style.css" rel="stylesheet" />

    <!-- Theme Styles -->
    <link href="~/css/theme/dark/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/css/theme/dark/theme_style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/css/theme/dark/theme-color.css" rel="stylesheet" type="text/css" />

    <!-- favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico" />
</head>
<!-- END HEAD -->

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Smart Money</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        @if (User.IsInRole(nameof(Roles.Administrator)))
                        {
                            <li class="active">
                                <a  class="nav-link text-dark" asp-controller="HouseHolds" asp-action="Index"> All </a>
                            </li>
                        }
                        <li>
                            <a  class="nav-link text-dark" asp-controller="HouseHolds" asp-action="Dashboard"> Dashboard</a>
                        </li>
                        <li>
                            <a  class="nav-link text-dark" asp-controller="BankAccounts" asp-action="Index">Manage Accounts</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="Categories" asp-action="Index">Manage Categories</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="CategoryItems" asp-action="Index">Manage Items</a>
                        </li>
                        @if (User.IsInRole(nameof(Roles.Administrator)) || User.IsInRole(nameof(Roles.New)))
                        {
                            <li>
                                <a class="nav-link text-dark" asp-controller="HouseHolds" asp-action="Create"> Create</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="page-header" hidden>
                    <div class="page-title">
                        <h3>Role ---> @User.Claims</h3>
                    </div>
                    <div class="dropdown filter custom-dropdown-icon">
                        <a class="dropdown-toggle btn" href="#" role="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text"><span>Show</span> : Daily Analytics</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterDropdown">
                            <a class="dropdown-item" data-value="<span>Show</span> : Daily Analytics" href="javascript:void(0);">Daily Analytics</a>
                            <a class="dropdown-item" data-value="<span>Show</span> : Weekly Analytics" href="javascript:void(0);">Weekly Analytics</a>
                            <a class="dropdown-item" data-value="<span>Show</span> : Monthly Analytics" href="javascript:void(0);">Monthly Analytics</a>
                            <a class="dropdown-item" data-value="Download All" href="javascript:void(0);">Download All</a>
                            <a class="dropdown-item" data-value="Share Statistics" href="javascript:void(0);">Share Statistics</a>
                        </div>
                    </div>
                </div>
            }

            <main role="main">
                @RenderBody()
            </main>

        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2020 - Smart Money - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        }
    </div>

    <!-- start js include path -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/popper/popper.js"></script>
    <script src="~/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

    <!-- Common js-->
    <script src="~/js/app.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/theme-color.js"></script>

    <!-- Material -->
    <script src="~/plugins/material/material.min.js"></script>-->

    <!-- end js include path -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*sweet alerts*@
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>